*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/
.idea/
.idea/
.gradle
app/build/
.DS_Store
gradlew
gradlew.bat
settings.gradle
build/
gradle/
